@model IEnumerable<PersonResponse>

<form action="~/persons/index" method="get">
    <div class="box flex-borderless">
        <div class="flex-1">
            <select name="searchBy">
                @foreach (var field in ViewBag.PersonFields)
                {
                    if (ViewBag.CurrentSearchBy == field)
                    {
                        <option value="@field" selected="selected">@field</option>
                    }
                    else
                    {
                        <option value="@field">@field</option>
                    }
                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" name="searchString" id="Search" placeholder="Search..." autocomplete="off" value="@ViewBag.CurrentSearchString" />
        </div>
        <div class="flex-1">
            <button>Search</button>
            <a href="~/persons/index"><p>Clear all</p></a>
        </div>
    </div>
</form>

<div>
    <table class="table w-75" style="margin-top:20px">
        <thead>
            <tr>
                @foreach (var field in (IEnumerable<string>)ViewBag.PersonFields)
                {
                    <th>
                        @await Html.PartialAsync("_ColumnHeader", field)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var response in Model)
            {
                <tr>
                    <td>@response.PersonName</td>
                    <td>@response.Email</td>
                    <td>@response.DateOfBirth?.ToString("dd MMM yyyy")</td>
                    <td>@response.Gender</td>
                    <td>@response.Country</td>
                    <td>@response.Address</td>
                    <td>@response.ReceiveNewsLetters.ToString()</td>
                    <td>@response.Age.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>